* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  border: 3px solid green;
  color: white;
  font-size: 15px;
  padding: 20px;
  /* background-color: red; */
  /* HEX */
  background-color: #a98dcc; 
  /* RGB */
  background-color: rgb(87, 168, 82, 0.6);
  /* HSL */
  background-color: hsl(60, 42%, 50%, 0.7);
  /* opacity: 0.5; */
  /* display: none; */
  /* gradient */
  background: rgb(2,0,36);
  background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

  /* background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,0.34637605042016806) 35%, rgba(0,212,255,1) 100%); */
  /* overflow: scroll; */
  overflow: hidden;

  /* box-shadow */
  -webkit-box-shadow: 34px 29px 56px 18px rgba(0,0,0,0.75);
  -moz-box-shadow: 34px 29px 56px 18px rgba(0,0,0,0.75);  
  box-shadow: 34px 29px 56px 18px rgba(0,0,0,0.75);
}

/* .transform {
  height: 200px;
  background-color: green;
  position: absolute;
  bottom: -300px;
  left: 0;
  opacity: 1;
  
}

.wrapper:hover .transform {
  transition: all 2s;
  /* opacity: 1;
  padding: 50px; */
  /* bottom: 0; */
/* }  */


.transform {
  height: 100px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 3s;
  transform: translateY(300px);
  text-overflow: ellipsis;
}

.wrapper:hover .transform {
  transform: translateY(0);
}

.svg:hover {
  fill: red;
  stroke: blue;
}

.bird-cage {
  margin: 0 auto;
  height 100px;
  width: 100px;
  border: 1px solid green;
}