/* .grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    background-color: green;
    border: 3px solid yellowgreen;
} */

/* .grid { */
    /* display: grid; */
    /* grid-template-columns: 100px 100px 1fr 2fr; */
    /* grid-template-columns: repeat(3, 100px) 1fr; */
    /* grid-template-columns: repeat(3, minmax(100px, 1fr)); */
    /* grid-template-columns: repeat(3, minmax(100px, 300px)); */
    /* grid-template-columns: repeat(30, minmax(100px, 300px)); */
    /* grid-template-columns: repeat(auto-fill, 300px); */
    /* grid-template-columns: repeat(auto-fit, 300px); */
    /* grid-template-columns: repeat(3, minmax(max-content, 300px)); */
    /* grid-template-columns: repeat(3, minmax(min-content, 300px)); */
    /* grid-template-columns: 100px repeat(3, minmax(150px, 500px)) 1fr; */
    /* grid-template-columns: repeat(2, 100px) repeat(3, 1fr) 2fr; */
    /* grid-template-columns: repeat(3, 1fr) 100px;
    grid-template-rows: 200px repeat(2, 300px);
    grid-auto-rows: 100px; */
    /* row-gap: 10px;
    column-gap: 10px; */
    /* gap: 10px;
    grid-template-areas: 
    "a1 a1 a1 b1"
    "a1 a1 a1 b1"
    "c3 c3 b2 b2";   */
/* } */

/* auto-fit/auto-fill */

/* .item1 {
    /* grid-column-start: 3;
    grid-column-end: 5; */
  
/* .item2 {
    grid-column: 1 / 2;
}  */
/* 
.item1 {
    background-color:cadetblue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item2 {
    background-color: coral;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.item3 {
    background-color:blueviolet;
    grid-area: 2 / 3 / 3 / 5;
} */

/* 
.item1 {
    grid-column: span 2;
    grid-row: span 3;
    background-color: blue;
    order: 1;
}

.item2 {
    grid-area: span 3 / span 1;
    background-color: brown;
    order: 0;
}

.item3 {
    grid-area: span 1 / span 1;
    order: -1;
} */

/* .item1 {
    grid-area: a1;
    background-color: blueviolet;
}

.item2 {
    background-color: yellow;
    grid-area: b1;
}

.item3 {
    background-color: violet;
    grid-area: c3;
}

.item4 {
    background-color: aquamarine;
    grid-area: b2;
}  */


/* Grid template-ares example */
/* .grid-container { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 150px); 
    grid-template-areas: 
    "a1 a1 a1 . ."
    "b2 b2 . b3 ."
    "c3 . c4 . c5";
   }

   

  .grid__item2 {
    border: 1px solid black;
    background-color: yellow;
  } 

  .item21 {
    background-color: rebeccapurple;
    grid-area: a1;
  }

  .item22 {
    grid-area: b2;
  }

  .item23 {
    grid-area: b3;
  }

  .item24 {
    grid-area: c3;
  }

  .item25 {
    grid-area: c4;
  }

  .item26 {
    grid-area: c5;
  }   */


  .grid-wrapper {
    background-color: aquamarine;
    height: 500px; 
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 150px); 
    /* justify-content, align-content расположение грид треков на страничке горизонтально и вертикально */
    justify-content: center; 
    align-content: space-between;
    /* justify-items, align-items расположение элемента внутри грид трека горизонтально и вертикально */
    justify-items: end;
    align-items: end;
  }

  .grid__item3 {
    border: 1px solid black;
    background-color: yellow;
    text-align: center;
    /* height: 100px;
    width: 100px; */
  }
