/* .example {
  border: 3px solid red;
  color: black;
  font-size: 30px;
} */

/* .span {
  color: aqua;
} */

/* .example::first-line {
  color: aquamarine;
}

.example::first-letter {
  color:blue;
  font-size: 50px;
}

::selection {
  background: blue;
  color: gray;
} */

/* .square {
  width: 20px;
  height: 20px;
  background: green;
} */

/* .wrapper {
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  background: green;
  width: 500px;
  height: 500px;
  margin: 30px auto;
  position: relative; 
} */

/* .wrapper::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: yellow;
  border: 1px solid black;
  position: absolute;
  top: 30px;
  left: 0;
} */

/* .wrapper::before {
  content: url(../img/image.jpg);
  position: absolute;
  bottom: 10px;
  left: 10px;
} */


/* Pseudo-Classes */

.wrapper {
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  background: green;
  width: 500px;
  /* height: 500px; */
  margin: 30px auto;
  transition: background-color 1s .5s;
  /* transition: all 2s; */
  /* transition: all 1s;
  transition: background-color 3s;
  transition: margin-top 5s;  */
}
.wrapper:hover {
  background-color: red;
  margin-top: 100px;
  padding-left: 20px;
  /* transition: all 5s;
  transition: margin-top 2s; */
}

.wrapper p:first-child {
  color: aqua;
}
.wrapper p:last-child {
  color: blueviolet;
}

.wrapper p:nth-child(3) {
  color: red;
}
/* .wrapper:hover .text {
  color: blue;
}

.wrapper:hover .text2 {
  color: red;
} */
/* .wrapper:hover {
  background: blue;
}

.input:focus {
  background: red;
}

.input:hover {
  background: yellow;
} */
/* 
.link {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: red;
  text-decoration: none;
  text-align: center;
  padding-top:30px;
  color: white;
  margin: 0 auto;
  font-size: 30px;
}

.link:visited {
  color: blueviolet;
}

.link:active {
  color: aqua;
} */
