/* .btn {
    background-color: brown;
    border-radius: 6px;
    border: none;
    outline: none;
    color: white;
    box-sizing: border-box;
    padding: 12px 20px;
    min-width: 150px;
} */



        /* div{
        width: 200px;
        height: 100px;
        background: url(./img/back.jpg);
        border: 1px solid goldenrod;
    }

    span {
        padding: 10px;
    } */

    /* img:nth-child(1) {
        width: 30%;
    }
    img:nth-child(2) {
        width: 70%;
    } */


    /* .blockModel {
        background: greenyellow;
        color: black;
        text-align: center;
        width: 300px;
        height: 100px;
        padding: 10px;
        border: 5px solid red;
        margin-bottom: 20px;
        overflow: auto;
    }
        

    .blockModel2 {
        background: greenyellow;
        color: black;
        text-align: center;
        width: 300px;
        height: 100px;
        padding: 10px;
        border: 5px solid red;
        margin-top: 10px;
        overflow: hidden;
    } */


    /* .link {
        display: inline-block;
        width: 100px;
        text-transform:uppercase;
        text-decoration: none;
        background-color: cornflowerblue;
        font-size: 35px;
        color: azure;
        padding: 30px;
        margin: 0 auto;
        text-align: center;
    } */


    /* span {
        border: 2px solid green;
    }

    div {
        border: 5px solid blue;
    }
     */

     /* .block {
        width: 400px;
        height: 300px;
        padding: 50px 100px;
        border: 5px solid green;
        margin: 10px;
        overflow: scroll;
        box-sizing: border-box;
     }

     section {
        width: 450px;
        border: 5px solid red;
        
     } */
/* 
     .item {
        font-size: 50px;
     }

     ul > li a {
        color: green;
        list-style: none;
        text-decoration: none;
     }
     .item__link {
        color: aqua;
     } */

     /* .item {
        color: blueviolet;
        width: 500px;
        background-color: green;
     } */

/* .wrapper {
    font-size: 10px;
}

.units__section {
    font-size: 20px;
} */

/* .units { */
        /* width: 500px; 
        /* width: 50%; */
        /* width: 500pt; */
        /* /* width: 50vw;  */
        /* height: 0vh;
        color: blackl;
        border: 10px dotted green;
        font-size: 1.5rem;
        font-size: 1.5em;
        overflow: hidden;
    }  */