


/*!*#idWeight {*!*/
/*!*    background: rebeccapurple;*!*/
/*!*}*!*/

/*!*p {*!*/
/*!*    margin: 50px auto;*!*/
/*!*    width: 500px;*!*/
/*!*    height: 500px;*!*/
/*!*    border: 2px solid black;*!*/
/*!*    color: black;*!*/
/*!*    background: aquamarine;*!*/
/*!*    text-align: center;*!*/
/*!*    font-size: 26px;*!*/
/*!*}*!*/



/*!*.classWeight {*!*/
/*!*    background: yellow;*!*/
/*!*}*!*/



/*!*.blockModel {*!*/
/*!*    background: greenyellow;*!*/
/*!*    color: black;*!*/
/*!*    text-align: center;*!*/
/*!*    width: 300px;*!*/
/*!*    height: 100px;*!*/
/*!*    padding: 10px;*!*/
/*!*    border: 5px solid red;*!*/
/*!*    margin-bottom: 20px;*!*/
/*!*    overflow: auto;*!*/
/*!*}*!*/

/*!*.blockModel2 {*!*/
/*!*    background: greenyellow;*!*/
/*!*    color: black;*!*/
/*!*    text-align: center;*!*/
/*!*    width: 300px;*!*/
/*!*    height: 100px;*!*/
/*!*    padding: 10px;*!*/
/*!*    border: 5px solid red;*!*/
/*!*    margin-top: 10px;*!*/
/*!*    overflow: hidden;*!*/
/*!*}*!*/

/*.box-container {*/
/*    box-sizing: border-box;*/
/*    margin: 50px auto;*/
/*    background: yellow;*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    border: 5px solid black;*/
/*    !*overflow: hidden;*!*/
/*}*/

/*.box {*/
/*    box-sizing: border-box;*/
/*    padding: 10px;*/
/*    width: 100%;*/
/*    height: 200px;*/
/*    background: #c5c5c5;*/
/*    border: 5px solid blue;*/
/*}*/


p {
    color: red;
}