body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 300px;
  border: 5px solid red;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.text {
  color: aqua;
  padding-left: 20%;
  font-size: 15px;
}

.text:hover {
  border: 5px solid green;
}

.text:focus {
  border: 5px solid blue;
}

.text::placeholder {
  font-size: 20px;
  color: pink;
}

.label {
  font-size: 20px;
  color: blueviolet;
}

.button {
  background-color: burlywood;
  height: 50px;
  border-radius: 15%;
  color: whitesmoke;
}

.reset {
  background: red;
  border: 0;
  height: 50px;
  width: 150px;
  color: aliceblue;
}

.submit {
  background: green;
  border: 0;
  height: 50px;
  width: 150px;
  color: aliceblue;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  /* margin-bottom: 5px; */
}

.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-group textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  resize: vertical;
}

.message {
  color: aquamarine;
  font-size: 20px;
}

