* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat';
}

.wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.0001);
}

.header {
    position: relative;
    height: 100px;
    width: 1169px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.nav__list {
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
}

.nav__item {
    list-style: none;
    padding-right: 69px;
    padding-top: 15px;
}

.nav__item:last-child{ 
    padding-right: 0;
}

.nav__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.logo {
    text-decoration: none;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 25px;
    color: orange;
    letter-spacing: 3px;
}


.smart_design {
    background-image: url("/practice/sertiz-landing/img/back.jpg");
    background-size: cover;
    height: 900px;
    padding-top: 515px;
    padding-left: 220px;
    color: #FFFFFF;
}

.smart__title{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.smart__subtitle{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 22px;
}

.smart__desc {
    width: 833px;
    height: 131px;
    border: 1px solid white;
    background: url("/practice/sertiz-landing/img/slogan.png");
    opacity: 1;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    text-transform: uppercase;
}

.smart__desc > span {
    color: orange;
    border-right: 1px solid orange;
    display: inline-block;
    height: 131px;
    padding: 38px 23px;
    margin-right: 23px;

}
