.item {
  display: inline-block;
  width: 200px;
  height: 100px;
  background: green;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  border: 3px solid greenyellow;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.wrapper {
  border: 5px solid black;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* .example {
  height: 1000px;
  background: blueviolet;
  border: 3px solid black;
} */

/* .item1 {
  position: relative;
  top: 20px;
  left: 100px;
} */

/* .item2 {
  position: absolute;
  top: 500px;
  left: 300px;
} */
/* 
.item3 {
  position: fixed;
  right: 50px;
  bottom: 100px;
  border-radius: 50%;
} */

/* .item4 {
  position: sticky;
  top: 100px;
  right: 100px;
} */

/* z-ndex */
/* .item1 {
position: relative;
  left: 10px;
  top: 10px;
  z-index: -1;
}
  

.item2 {
  position: absolute;
  top: 20px;
  left: 20px;
  background: blueviolet;
  /* z-index: 0; */
/* } */
/* .item3 {
  position: absolute;
  left: 30px;
  margin-top: 30px;
  background-color: tomato;
  /* z-index: 2; */
  /* z-index: -2; */
/* } */

 /* .item4 {
  position: absolute;
  left: 40px;
  top: 40px;
  background-color: yellow;
  /* z-index: 3; */
/* }  */

/* transfrom */

/* .item1 {
  /* transform: translateY(100px); */
  /* transform: rotate(90deg);
  transform: scale(0.3, 1.5); */
/* }




 