
.wrapper {
    height: 1000px;
    display: flex;
    row-gap: 50px;
    /* column-gap: 30px; */
    justify-content: space-evenly;
    align-items: start;
    /* flex-wrap: wrap; */
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-flow: wrap column; */
    /* flex-flow: wrap-reverse column; */
}

.item {
    width: 200px;
    height: 100px;
    background-color: green;
    border: 5px solid red;
    text-align: center;
    color: beige;
    font-size: 25px;
    /* flex-basis: 300px; */
    /* flex-grow: 1;
    flex-shrink: 0; */
    flex: 1 0 300px;
}

 .item1 {
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 1000px; */
}

.item2 {
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
}

.item3 { 
    /* flex-grow: 1; */
    /* flex-shrink: 3; */
} 

.item4, .item5 {
    /* flex-grow: 1; */
    /* flex-grow: 1; */
} 
/* flex: 1 0 auto; */


.float {
    width: 200px;
    height: 100px;
    background-color: green;
    border: 5px solid red;
    text-align: center;
    color: beige;
    font-size: 25px;
    margin: 10px 50px;
}

/* .float:nth-child(3) {
    margin-top: 50px;
} */


.float1 {
    float: right;
} 

.float2 {
    float: right;
}

.float3 {
    float: left;
}

.float4 {
    margin-left: auto;
}